@charset 'utf-8';

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid var(--line-color);

    position: fixed;

    background: #fff;
}

#header nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    display: none;
}

.logo a {
    width: 14.8rem;
    /* height: 2.4rem; */
}
.gnb {
    display: flex;

    gap: 50px;
    /* background: red; */
}

.gnb li a {
    display: block;
    font-size: 2.3rem;
    color: var(--main-color);

    transition: 0.4s;
}

.gnb li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.util-manu {
    display: flex;
    gap: 3.7rem;
    /* background: red; */
}

.visual {
    /* background: #5f5; */
    width: 192rem;
    width: 100%;
    position: relative;
}

.visual figure {
    /* border: 1px solid #000; */
    width: 100%;
    aspect-ratio: 1/0.5;
}

.visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual .btn {
    position: absolute;
    top: 50%;
    /* width: 3.3rem; */
    /* height: 6rem; */

    z-index: 1;

    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
}

.visual .btn-prev {
    left: 12rem;
}
.visual .btn-next {
    right: 12rem;
}

.pro-menu {
    margin-top: 10rem;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-list li {
    width: 23rem;
    width: 13.6905%;
    /* height: 29rem; */
    aspect-ratio: 1/1.32;
    text-align: center;

    position: relative;
}

.menu-list li figure {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--line-color);
    border-radius: 50%;
}

.menu-list li figure + figure {
    opacity: 0;
}

.menu-list li:hover figure + figure {
    opacity: 1;
    overflow: hidden;
}

.menu-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.menu-list li:hover figure + figure img {
    transform: scale(1.1);
}

.menu-list li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.menu-list li a strong {
    display: block;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--main-color);
}

.best-pro {
    margin-top: 20rem;
    position: relative;
}

.best-wrap {
    display: flex;
    gap: 6.1rem;
}

.product-title {
    width: 36.5rem;
}
.product-title p {
    margin-top: 2rem;
}

.best-list {
    display: flex;
    /* border: solid red; */
    width: 125.5rem;
    width: calc(100% - 6.1rem - 36.5rem);

    position: relative;
}

.best-next {
    position: absolute;
    top: 17.7rem;
    right: 6.1rem;
}

.best-list .swiper-wrapper .swiper-slide {
    /* border: 1px solid #000; */
    aspect-ratio: 1/1.23;
}

.best-list a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.best-list a figure {
    border: 1px solid var(--line-color);
    aspect-ratio: 1/1;
    border-radius: var(--rds-2);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    aspect-ratio: 1;
}

.best-list a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.7s;
}

.best-list a figure + figure {
    opacity: 0;
}
.best-list a:hover figure + figure {
    opacity: 1;
    overflow: hidden;
}
.best-list a:hover figure + figure img {
    transform: scale(1.1);
}

.util-menu {
    display: flex;
}

.util-menu button {
    width: 5rem;
    height: 5rem;
    background: no-repeat 50%;
    opacity: 0;

    transition: 0.7s;
}

.util-menu .btn-pro-det {
    background-image: url(../img/ico-pro-det.svg);
    position: absolute;
    bottom: 20rem;
    left: 1.3rem;
}
.util-menu .btn-cart {
    background-image: url(../img/ico-cart.svg);
    position: absolute;
    bottom: 15rem;
    left: 1.3rem;
}
.util-menu .btn-like {
    background-image: url(../img/ico-like.svg);
    position: absolute;
    bottom: 10rem;
    left: 1.3rem;
}

.best-list a:hover .util-menu button {
    opacity: 1;
}

.btn-pro-det i {
    color: #ccc;
    font-size: 1.5rem;

    position: absolute;
    bottom: 1.6rem;
    left: 4.5rem;

    opacity: 0;

    transition: 0.4s;
}

.btn-pro-det:hover i {
    opacity: 1;
}
.btn-cart i {
    color: #ccc;
    font-size: 1.5rem;

    position: absolute;
    bottom: 1.4rem;
    left: 4.5rem;

    opacity: 0;

    transition: 0.4s;
}

.btn-cart:hover i {
    opacity: 1;
}
.btn-like i {
    color: #ccc;
    font-size: 1.5rem;

    position: absolute;
    bottom: 1.2rem;
    left: 4.5rem;

    opacity: 0;

    transition: 0.4s;
}

.btn-like:hover i {
    opacity: 1;
}

.best-list dl {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    padding: 0 2rem;
}
.best-list dl dt {
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--main-color);
}

.best-list dl dd {
    font-size: 2.3rem;
    color: #000;
}

.new-pro {
    margin-top: 20rem;
    position: relative;
}

.new-wrap {
    flex-direction: row-reverse;
    display: flex;
    gap: 6.1rem;
}

.new-list {
    display: flex;
    /* border: solid red; */
    width: 126rem;
    width: 75%;
    /* height: 49.9rem; */
    gap: 2rem;

    position: relative;
}
.new-list a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    aspect-ratio: 1/1.23;

    position: relative;
}

.new-list a figure {
    border: 1px solid var(--line-color);
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--rds-2);
    position: absolute;
    top: 0;
    left: 0;

    aspect-ratio: 1;
}
.new-list a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.7s;
}

.new-list a figure + figure {
    opacity: 0;
}
.new-list a:hover figure + figure {
    opacity: 1;
    overflow: hidden;
}

.new-list a:hover figure + figure img {
    transform: scale(1.1);
}

.new-list a:hover .util-menu button {
    opacity: 1;
}

.new-list dl {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    padding: 0 2rem;
}
.new-list dl dt {
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--main-color);
}

.new-list dl dd {
    font-size: 2.3rem;
    color: #000;
}

.new-next {
    position: absolute;
    top: 17.7rem;
    left: 6.1rem;
}

.review {
    margin-top: 20rem;
    position: relative;
}

.review-wrap {
    width: 100%;
    /* height: 62rem; */
    aspect-ratio: 1/0.369;
    /* border: 1px solid red; */
}

.review-wrap .swiper-pagination {
    bottom: 0;
}
.review-title {
    gap: 58.7rem;
    position: relative;
}

.review-title a {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--line-color);
    border-radius: var(--rds-3);

    text-indent: -999px;
    overflow: hidden;

    transition: 0.4s;
}

.review-title a::after {
    content: "";
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../img/jam_plus.png) no-repeat 50%;
}

.review-title a:hover {
    background: var(--main-color);
}

.review-title a:hover::after {
    background: url(../img/jam_plus-1.png);
}

.review-text {
    text-align: center;
}

.review-text p {
    margin-top: 2rem;
}
.review-list {
    width: 100%;
    margin-top: 10rem;
    position: relative;
}

.review-list .btn-prev {
    position: absolute;
    top: 50%;
    left: 5rem;
}

.review-list .btn-next {
    position: absolute;
    top: 50%;
    right: 5rem;
}

.review-list .swiper-wrapper .swiper-slide {
    transition: 0.4s;
    transform: scale(0.8);
}

.review-list .swiper-wrapper .swiper-slide.swiper-slide-active {
    transform: scale(1);
}

.review-list a figure {
    aspect-ratio: 1;
    /* border: solid #000; */
    border-radius: var(--rds-4);
    position: relative;
    overflow: hidden;
}

.review-list a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-con {
    width: 32rem;
    aspect-ratio: 1;
    border-radius: var(--rds-4);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: 0.4s;
}

.review-con:hover {
    opacity: 1;
}
.review-con dt {
    margin-top: 25rem;
    font-weight: 60rem;
    font-size: 1.5rem;
}

.review-con dd {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.review .btn-prev {
    position: absolute;
    top: 36.6rem;
    left: 6.1rem;
}

.review .btn-next {
    position: absolute;
    top: 36.6rem;
    right: 6.1rem;
}
.video {
    margin-top: 20rem;
}

.video-wrap {
    display: flex;
    align-items: center;
    gap: 12rem;
}

.video-con {
    width: 97.2rem;
    /* width: 57.8571%; */
    aspect-ratio: 1;
}

.video-con video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.brand-str {
    width: 58.8rem;

    /* border: 1px solid #000; */
}
.brand-str h2 {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--main-color);
}

.brand-str strong {
    font-weight: 800;
    font-size: 5.8rem;
    color: var(--main-color);
}

.brand-str p {
    margin-top: 3.4rem;
}

#footer {
    border-top: 1px solid var(--line-color);
    margin-top: 20rem;
    padding: 5rem 0;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
}

.foot-con1 {
    width: 47.4rem;
    width: 28.2143%;
    border: 1px solid #000;
}

.foot-con2 {
    width: 100.4rem;
    width: 59.7619%;
    border: 1px solid #000;
}

.sns-list {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 1.7rem;
}

.foot-list {
    display: flex;
    justify-content: space-between;
    margin-top: 18.5rem;
}

.foot-list dl dt {
    font-weight: 600;
    font-size: 2rem;
    color: #000;
}

.foot-list dl dt + dt {
    font-weight: 500;
    font-size: 3.4rem;
}

.foot-list dl dd {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 1.5rem;
}

.quick-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 10;
}

/*  .inner의 크기에 따른 분기점 */

@media screen and (max-width: 1680px) {
    /* .inner {
    width: 720px;
    width: 93.75%;

    position: relative;
  } */
}

/* 태블릿 디자인 */
@media screen and (max-width: 768px) {
    .inner {
        width: 720px;
    }

    #header nav {
        height: 6rem;
    }

    .btn-menu {
        display: block;
    }

    .gnb {
        display: none;
    }

    .util-manu li {
        display: none;
    }

    .util-manu li:nth-child(3) {
        display: block;
    }

    .visual figure {
        aspect-ratio: 1/1.231770833333333;
    }

    .visual .btn {
        display: none;
    }

    .pro-menu {
        margin-top: 4.5rem;
    }

    .menu-list li a strong {
        font-size: 1.8rem;
        /* width: 11rem; */
        /* height: 15.4rem; */
        margin-top: 1.4rem;
    }

    .best-pro {
        margin-top: 9rem;
    }

    .best-wrap {
        flex-direction: column;
    }

    .product-title {
        /* background: #ff5; */
        width: 100%;
        text-align: center;
        position: relative;
    }

    .product-title h2 {
        font-size: 4rem;
    }

    .product-title p {
        font-size: 1.7rem;
        margin-top: 0;
    }

    .btn-more {
        display: none;
    }

    .product-title::after {
        content: "";
        display: block;
        width: 5rem;
        height: 5rem;
        border: 1px solid var(--line-color);
        border-radius: 50%;
        background: url(../img/jam_plus.png) no-repeat 50%;

        position: absolute;
        bottom: 0;
        right: 0;
    }

    .best-next {
        display: none;
    }
    .best-list {
        width: 100%;
        /* border: 1px solid #f00; */
    }

    .best-list .swiper-wrapper {
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    .best-list .swiper-wrapper .swiper-slide {
        /* border: 1px solid #000; */
        width: calc((100% - 1.6rem) / 2) !important;
        margin: 0 !important;
    }

    .best-list .swiper-wrapper .swiper-slide:nth-child(n + 5) {
        display: none;
    }

    .best-list dl dt {
        font-size: 1.8rem;
    }

    .best-list dl dd {
        font-size: 1.8rem;
    }

    .new-pro {
        margin-top: 9rem;
    }

    .new-wrap {
        flex-direction: column;
    }

    .new-next {
        display: none;
    }
    .new-list {
        width: 100%;
        /* border: 1px solid #f00; */
    }

    .new-list .swiper-wrapper {
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    .new-list .swiper-wrapper .swiper-slide {
        /* border: 1px solid #000; */
        width: calc((100% - 1.6rem) / 2) !important;
        margin: 0 !important;
    }

    .new-list .swiper-wrapper .swiper-slide:nth-child(n + 5) {
        display: none;
    }

    .review {
        margin-top: 9rem;
    }

    .review button {
        display: none;
    }

    .new-list dl dt {
        font-size: 1.8rem;
    }

    .new-list dl dd {
        font-size: 1.8rem;
    }

    .review-title h2 {
        font-size: 4rem;
    }
    .review-title p {
        font-size: 1.7rem;
        margin-top: 0;
    }

    .review-list {
        margin-top: 4rem;
    }

    .video {
        margin-top: 9rem;
    }
    .video-wrap {
        flex-direction: column-reverse;
    }

    .brand-str {
        text-align: center;
    }
    .brand-str h2 {
        font-size: 3rem;
    }
    .brand-str strong {
        font-size: 5rem;
    }
    .brand-str p {
        font-size: 1.7rem;
        margin-top: 1.5rem;
    }

    .video-wrap {
        gap: 4rem;
    }

    .video-con {
        width: 72rem;
        height: 72rem;
    }
}
